
@font-face {
    font-family:"SantaSleigh";
    src:url("SantasSleighFull Bold.woff2") format("woff2"),url("SantasSleighFull Bold.woff") format("woff"),url("SantasSleighFull Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        